* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #fff; /* DEBUG:  */
  font-family: 'Montserrat', sans-serif;
}
a{
  color:red;
}
/* regole dei link */
.link-grey{
  color:#A3A3A3;
  text-decoration: none;
}
.link-grey:hover{
  color:#fff;
}
.link-white{
  color:#fff;
  text-decoration: none;
}
.link-white:hover{
  color:#A3A3A3;
}
/* /regole dei link */

/* regole generiche */
.padding-15{
  padding: 15px;
}
.unlisted{
  list-style: none;
}

/* regole wrapper */
.wrapper {
  width: 100%;
  height: 100vh;
  background-color: red;
}

.main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 90px);
  overflow: hidden;
}
/* nav-left */
.nav-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 100%;
  background: #000000;
}
/* nav-left sezione logo */
.nav-left-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
}
.nav-left-logo img {
  height: 70%;
}
/* nav-left sezione menu */
.nav-left-menu{
  padding-top: 15px;
  padding-bottom: 15px;
}
.nav-left-menu li{
  line-height: 30px;
  padding-left: 13px;
  margin: 10px 0;
  border-left: 2px solid #000000;
}
.nav-left-menu img{
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 5px;
}
/* regole link attivo nav-left-menu */
#nav-left-menu-active{
  border-color: #ADFF2F;
  font-weight: bolder;
}

/* nav-left sezione make-playlist */
.nav-left-make-playlist h2{
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 15px;
}
.nav-left-make-playlist span{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  background-color: #A3A3A3;
  margin-right: 5px;
}
.nav-left-make-playlist a:hover span{
  background-color: #fff;
}
.nav-left-make-playlist a:hover i{
  color: #A3A3A3;
}

.nav-left-make-playlist i{
  color: #fff;
  font-size: 1.3rem;
}

/* nav-left sezione playlist */
.nav-left-playlist {
  min-height: 150px;
  overflow-y: auto;
  flex-grow: 2;
}
.nav-left-playlist li{
  line-height: 2rem;
  vertical-align: middle;
}
/* nav-left sezione bottom */
.nav-left-bottom a{
  display: inline-block;
  height: 30px;
  line-height: 30px;
}
.download-ico {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-right: 10px;
}
.nav-left-bottom hr{
  margin: 15px 0;
}
.profile-container{
  margin: 10px 0;
  line-height: 50px;
  color: #fff;
}
.profile-container-img{
  display: inline-block;
  height: 35px;
  width: 35px;
  vertical-align: middle;
  background-color: #808080;
  border-radius: 50%;
  padding: 2px;
}
.profile-container span{
  font-size: 1.8rem;
  font-weight: 700;
  vertical-align: middle;
  margin-left: 15px;
}
/* regole xs menu-left */
.nav-left-xs {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 50px;
  height: 100%;
  background: #000000;
}

.nav-left-xs-top img{
  width: 80%;
  padding: 10px 0;
}
.nav-left-xs-bottom .download-ico{
  margin: 15px 0;
}
.nav-left-xs-bottom .profile-container-img{
  margin: 15px 0;
}

/* main content */
.main-content {
  width: calc(100% - 320px);
  height: 100%;
  background-color: #141922;
  padding-top: 90px;
  overflow-y: scroll;
}
.call-to-action {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 320px);
  height: 90px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
.btn-call-to-action {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 18px;
  padding: 15px 30px;
  border: 2px solid #fff;
  border-radius: 500px;
  color: #fff;
  text-decoration: none;
}
.btn-call-to-action:hover {
  transform: scale(1.1);
}

/* footer */
.footer {
  width: 100%;
  height: 90px;
  background-color: pink;
}
/* mediaquery XS */
@media screen and (max-width:768px) {
  .nav-left-xs{
    display: flex;
  }
  .nav-left{
    display: none;
  }
  .call-to-action {
    width: calc(100% - 50px);
  }
  .main-content {
    width: calc(100% - 50px);
  }
}
/* mediaquery SM */
@media screen and (max-width:992px) {

}
/* mediaquery MD */
@media screen and (max-width:1200px) {

}
  /* mediaquery LG */
@media screen and (min-width:1200px) {

}
